body {
    background: #cfd9e8;
    height: 100%;
}

.index-card {
    margin: auto;
    padding: 100px;
    text-align: center;
    font-family: Merriweather, serif;
}

.index-card__avatar {
    border-radius: 50%;
    opacity: 0;
    animation: appear 3s forwards;
}
.index-card__title, .index-card__subtitle {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 3s forwards, appear 3s forwards;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 0.8em;
    }
    .index-card__avatar {
        height: 120px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.1em;
    }
    .index-card__avatar {
        height: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.2em;
    }
    .index-card__avatar {
        height: 180px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 3.2em;
    }
    h2 {
        font-size: 1.3em;
    }
    .index-card__avatar {
        height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    .index-card__avatar {
        height: 250px;
    }
} 