/*===== Variables CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colores =====*/
    --hue-color: 221;
    --first-color: hsl(var(--hue-color), 95%, 55%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*===== Fuente y tipografia =====*/
    --body-font: "Parkinsans", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margenes =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

/*===== Base =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(145deg,
        rgba(2,0,36,1) 0%,
        rgba(53,53,184,1) 38%,
        rgba(135,205,220,1) 100%); 
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
/*
html{
    height: 100%;
    margin: 0;
}*/

.index-card {
    margin: auto;
    padding: 100px;
    text-align: center;
}

.index-card__avatar {
    border-radius: 50%;
    opacity: 0;
    animation: appear 3s forwards;
}
.index-card__title, .index-card__subtitle {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 3s forwards, appear 3s forwards;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .index-card__avatar {
        height: 120px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .index-card__avatar {
        height: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .index-card__avatar {
        height: 180px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .index-card__avatar {
        height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .index-card__avatar {
        height: 250px;
    }
} 